/* COMMON */
body {
  margin-top: 70px;
  background: #F8F8F8;
}

a {
  -webkit-transition-property: color; -webkit-transition-duration: 0.3s;
  -moz-transition-property:    color; -moz-transition-duration:    0.3s;
}
a:hover {
  text-decoration: none;
}

/*fieldset {
  padding-top: 20px;
}*/

/*img {
  text-decoration: none;
  border: none;
}*/




/* NAVBAR */
/*.navbar {
  border: none;
}




*/
/* CONTAINER */
.container {
  width: 100%;
}

