{{#if loggedin}}
<div class="alert alert-info">Hello, {{firstname}}.</div>
<div class="list-group">
  <a href="/users" class="list-group-item"><span class="glyphicon glyphicon-user"></span> User</a>
  <a href="/localusers" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Local Users</a>
</div>
{{else}}
<div class="alert alert-info">Welcome! Please <a href="/login">log in</a>.</div>
{{/if}}
